@import "~bootstrap/scss/bootstrap.scss";
p {
    padding: 0;
    margin: 0;
    text-align: center
}
.counter-box {
    display: flex;
    justify-content: center;
}
.box-timer {
    padding: 1rem;
    background-color: black;
    color: white;
}